.dashboard-container {
  padding: 20px;
}

.header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-doc-button {
  margin: 10px;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.section-header h5 {
  margin-right: 10px;
}

.template {
  width: 150px; 
  height: 200px; 
  display: flex; 
  align-items: center; 
  border: 1px solid transparent; 
  transition: border 0.3s ease, transform 0.3s ease; 
  box-sizing: border-box;
}

.template:hover {
  border-color: #2196f3;
  cursor: pointer;
  transform: scale(1.05);
}

.user-greeting {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: gradient 5s linear infinite;
}