.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-paper {
  width: 800px;
  margin: 100px auto;
  padding: 40px;
}

.lineAround {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.lineAround::before,
.lineAround::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: gray;
}

.lineAround::before {
  margin-right: 10px;
}

.lineAround::after {
  margin-left: 10px;
}

.buttonWrapper {
  margin-bottom: 15px;
}

.google {
  width: 250px;
  height: 40px;
}

.github {
  width: 250px;
  height: 40px;
}
