.landing-page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #9ad3de, #63abc3);
}

.right-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
}

.button-group {
  width: 200px;
  height: 100px;
  flex-direction: column;
  margin-top: 20px;
}

.collabify-text {
  background: linear-gradient(to right, #1a237e, #2196f3);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

