.editor-container {
  margin-top: 50px;
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 210mm; /* A4 width */
  height: 297mm; /* A4 height */
  margin: 20mm; /* A4 margins */
  min-width: 300px;
  overflow-y: auto;
  outline: none;
  overflow-wrap: break-word;
  word-wrap: break-word; 
  box-sizing: border-box;
}

.select-role {
  margin-top: 20px;
}