.editor-container {
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  width: 210mm; /* A4 width */
  min-height: 297mm; /* A4 height */
  height: 100%;
  margin: 30px auto; 
  min-width: 300px;
  outline: 1px solid #C7C7C7;
  outline-width: thin;
  overflow-wrap: break-word;
  word-wrap: break-word; 
  box-sizing: border-box;
}