.document-title {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 300px;
  overflow: hidden;
}

.share-doc {
  margin-left: auto;
  display: flex;
  align-items: center;
}
